/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
       font-family: "MIC";
       src: url("../fonts/MIC.eot");
       src: url("../fonts/MIC.eot?#iefix") format("embedded-opentype"), 
	        url("../fonts/MIC.svg") format("svg"),
	        url("../fonts/MIC.woff") format("woff"), 
			url("../fonts/MIC.ttf") format("truetype");
       font-weight: normal;
       font-style: normal;
}
   
body {
  background: #fff;
  font: 62.5%/1.2 Verdana,Arial, Sans-serif;
  color: #646267;
  margin: 0 .5%;
}

a {
  text-decoration: none;
}

hr {
  height: 3px;
  background: #941a4d;
  margin-left: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.wrap {
  /*min-width: 1100px;
  max-width: 1425px;*/
  width: 1250px;
  margin: 0 auto;
}
/*HEADER*/
.head {
  position: relative;
  margin: 17px 0 50px 0;
  /*font-family: MIC, Sans-serif;*/
}
.logo {
  display: block;
  /*margin-right: 50px;*/
  float: left; 
}
.logo img {
	overflow: hidden;
	width: 186px;
	height: 69px;
}
.head nav {
  float: left;
  width: 395px;
}
.head.active nav {
  width: 535px;
}
.head .top {
	height: 86px;
}
.head nav a {
  font-size: 1.3em;
  font-family: MIC, Sans-serif;
  line-height: 1; 
  float: left; 
  padding: 8px 10px 9px;
  background: #941a4d;
  border-radius: 4px;
  
  text-transform: uppercase;
  color: #fff;
  margin-right: 5px;

  transition: background 1s ease;
}
.head nav a:hover,
.head nav .active {
	background: #6f1030;
}
.head nav a span {
  display: inline-block;
  vertical-align: top;
}
.head .search {
  height: 13px;
  margin: 0;
  padding: 0;
}
.head .catalog {
	width: 79px;
}
.head .about {
	width: 56px;
}
.head .contacts {
	width: 97px;
}
.head .search {
    display: none;
	  margin-top: 0;
    vertical-align: top;
}
.head .search-menu {
	width: 63px;
}
.head input[type="text"] {
    width: 90px;
    margin: -1px 0 0 0;
    height: 14px;
    
    font-size: 12px;
    line-height: 1;
    
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    box-shadow: none;

    display: inline-block;
    vertical-align: top;
}
.head input[type=submit] {
  font-size: 1.1em;
  line-height: 1;
  height: 13px;
  
  display: inline-block;
  vertical-align: top;
    
  text-transform: uppercase;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  margin: -1px 0 0 0;
  font-family: MIC, Sans-serif;
}
.facebook-link {
  position: absolute;
  top: 0;
  right: 0;
  
  padding: 15px 5px 15px;
  background: url(../img/facebook.png) 11px 5px no-repeat #941a4d;
  border-radius: 4px;
  
  margin-left: 5px;
  font-size: 1.3em;
  line-height: 1;
  width: 20px;
}
.head-wrap {
  position: relative;
  margin-left: 194px;
}
.head .menu-space {
  background: #941a4d;
  height: 30px;
  border-radius: 4px;
  
  top: 0;
  right: 35px;
  left: 395px;
  position: absolute;
}
.head.active .search-menu {
	width: 203px;
}
.head.active .menu-space {
  left: 535px;
}
/*CONTENT*/
.category {
  position: absolute;
  left: 194px;
  bottom: 17px;
  width: 861px;
}
.category table {
  width: 100%;
  border-spacing:0;
  border-collapse:collapse;
}
.category table td {
  padding-right: 8px;
}
.category table td:last-child {
  padding-right: 0;
}
.category a {
  text-align: center;
  font-size: 1em;
  line-height: 1;
  
  display: block;

  padding: 3px 4px;
  background: #941a4d;
  border-radius: 4px;
  
  text-transform: uppercase;
  color: #fff;
  /*margin-right: 13px;*/
}
.category a.active {
  background: #6F1030;
}
/*.category a:last-child {
  margin-right: 0;
}*/
/*CONTENT*/
.content {
  /*margin: 0 212px;*/
  /*width: 862px;
  margin-left: 212px;*/
  width: 859px;
  margin: auto;
  
  *zoom: 1;
}
.content:before,
.content:after {
    content: " ";
    display: table;
}
.content:after {
    clear: both;
}
.main-article ul li {
	display: none;
	padding: 0 15px 0 0;
}
.main-article ul .active {
	display: block;
}
.main-article img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
/*  border-radius: 4px;*/
	
	/*width: 380px;*/
	overflow: hidden;
}
.main-article article {
	display: inline-block;
	vertical-align: top;
	/*width: 360px;*/
  width: 440px;
	
	line-height: 1.5;
/*  color: #646267;*/
  color: #fff;
}
.main-article header {
	margin-bottom: 10px;
}
/*.main-article header a {
  font-weight: bold;
  font-size: 1.4em;
  color: #000;
}
*/
.main-article p {
	font-weight: 100;
	font-size: 1.3em;
  line-height: 1.2;
  margin-top:0;
}
.bullets {
	margin: 20px 0;
	text-align: center;
}
.bullets a {
  background: rgb(200, 203, 204);
	
  border-radius: 50px;
	
/*  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset;*/
  display: inline-block;
	vertical-align: middle;
	
  height: 10px;
  margin-right: 2px;
  width: 10px;
}
.bullets .active, 
.bullets a:hover {
  /*background: #6f1030;*/
	background: #fff;
}
.banner {
  background-color: #3d4448;
  padding: 15px 88px 36px 88px;
  height: 239px;
  overflow: hidden;
}
.banner .more {
  font-style: italic;
  font-weight: bold;
  color: rgb(200, 203, 204);
}
.banner ul li {
  padding: 0;
}
.banner img {
  margin: 3px 17px 0 0;
/*  outline: 3px solid #fff;*/
  border: 3px solid #fff;
  box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}
.banner article {
  width: 420px;
  padding: 3px 0 0 0;
}
.banner .bullets {
  margin: 9px 0 0;
}
.banner i {
  font-style: italic;
}
.index-recommend {
/*  font-family: MIC,Sans-serif;*/
  font-size: 1.4em;
/*  text-transform: uppercase;*/
  color: #941A4D;
  margin: 29px 0 -3px 0;
  font-weight: bold;
}
.catalogue {
  /*padding: 0px 15px 0 0;*/
}
.catalogue a {
  display: inline-block;
  vertical-align: top;
  /*float: left;
  display: block;*/
  color: #000;
}
.catalogue figure {
  float: left;
  
  margin-right: 17px;
  margin-bottom: 30px;
  text-align: center;
  
  width: 155px;
  overflow: hidden;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.catalogue a:nth-child(5n) figure {
  margin-right: 0;
}
.catalogue figure img {
  /*outline: 1px solid red;*/
}
.catalogue figure figcaption {
  font-weight: bold;
  font-size: 1.1em;
  margin: 15px 0 0 0;
  
  min-height: 26px;
  
  color: #646267;
}
.catalogue figure figcaption b {
  font-weight: normal;
}
.search-wrap {
  min-height: 455px;
}
.post.search-wrap {
  padding: 0;
}
.subscribe {
	/*margin: 0px 15px 20px 51px;*/
  margin: 0 0 20px;
  float: right;
  
  background: #941A4D;
	
  border-radius: 4px;
	padding: 8px 10px;
	
  /*display: inline-block;
	vertical-align: top;*/
  
}
.subscribe label {
	font-family: MIC, Sans-serif;
	font-size: 1.3em;
	color: #fff;
	text-transform: uppercase;
	margin-right: 8px;
	
  display: inline-block;
	vertical-align: middle;
}
.subscribe input[type="text"] {
	font-size: 1.1em;
	font-family: Verdana, sans-serif;
  color: #646267;
	
	background: #fff;
	border-radius: 4px;
	border: none;
	
	padding: 0 5px;
	
  display: inline-block;
	vertical-align: middle;
}
.subscribe input[type="submit"] {
    background: none;
    border: none;
    
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
    
    font-family: MIC,Sans-serif;
    font-size: 1.3em;

    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;   
}
.post {
     padding: 0px 0px 20px;	
}
.post img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.post article {
	display: inline-block;
	vertical-align: top;
	
  width: 554px;
  min-height: 380px;
	
	line-height: 1.5;
}
.post article p:first-child {
  margin-top: 0;
}
.post header {
	font-weight: bold;
	font-size: 1.4em;
	margin: 0px 0 10px 0px;
}
.post p {
	font-weight: 100;
	font-size: 1.3em;
}
.pagination {
	margin: 10px 0;
	text-align: center;
}
.pagination a {
    background: #6f1030;
    border-radius: 4px;
	font-size: 1em;
	line-height: 1;
	padding: 3px 6px;
	color: #fff;
	
    display: inline-block;
	vertical-align: middle;
	
    margin-right: 5px;
}
.detail {
	padding: 0px 15px 20px 0px;	
}
.detail-image {
	width: 300px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}
.detail-image figure {
	margin: 0 0 15px 0;
	text-align: center;	
	width: 300px;
	overflow: hidden;
  background: #fff;
  box-shadow: 4px 4px 7px 1px rgba(76, 76, 76, 0.45);
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.detail-image img {
	display: block;
	margin: auto;	
  cursor: pointer;
}
.detail .detail-images a {
  float: left;
	margin: 0 13px 10px 0;
	overflow: hidden;
}
.detail .detail-images a:nth-child(6n) {
	margin-right: 0;
}
.detail .detail-images img {
	display: inline-block;
	vertical-align: top;	
	border-radius: 2px;
}
.detail article {
	display: inline-block;
	vertical-align: top;
	width: 450px;
	line-height: 1.5;
}
.detail .title {
	font-weight: bold;
	font-size: 1.4em;
	margin: -6px 0 30px;
	
	width: 300px;
}
.detail .title b {
	font-weight: normal;
}
.detail .additional-title {
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
}
.detail .desc {
	font-weight: 100;
	font-size: 1.3em;
	margin-bottom: 10px;
	
	width: 400px;
}
.detail .detail-list {
	font-style: italic;
	font-size: 1.2em;
	margin: 40px 0;
	width: 250px;
}
.detail .detail-list li {
	margin-bottom: 1px;
}
.detail .price {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
}
.detail .waiting {
	font-size: 1.3em;
}
.btn-order {
	font-family: MIC, Sans-serif;
  font-size: 1.3em;
  line-height: 1;
  
  display: inline-block;
  vertical-align: top;
  
  padding: 8px 10px;
  
  background: #941A4D;
  border-radius: 4px;
  
  text-transform: uppercase;
  color: #fff;
}
.detail .btn-order {
  vertical-align: bottom;
}
.tags {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 30px;
  height: 20px;
}
/*.tags {
	float: right;
	
	width: 301px;
	
	font-family: MIC, Sans-serif;
  text-transform: uppercase;
  color: #fff;
	
	font-size: 1.3em;
}
.tags header {
	font-size: 1.1em;
	line-height: 1;
	color: #5b5b5b;
	
  display: inline-block;
  vertical-align: middle;
}
.tags a {
  font-size: .75em;
  line-height: 1;
  color: #fff;
  
  display: inline-block;
  vertical-align: middle;
  
  padding: 2px;
  
  background: #5b5b5b;
  border-radius: 1px;

  margin-right: 1px;
}*/
.popup-container {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
	  display: none;
}
.popup-overlay {
    background-color: #FFF;
    height: 100%;
    opacity: 0.5;
    position: relative;
    width: 100%;
}
.popup-wrap {
    background: #FEFEFE;
    border-radius: 4px;
    box-shadow: 0 1px 1px 3px rgba(0, 0, 0, 0.3);

    margin-top: -175px;
    margin-left: -250px;
    width: 500px;

    left: 50%;
    position: absolute;
    top: 50%;
	
	font-weight: bold;
	font-size: 1.2em;
	
	position: absolute;
	
}
.popup-wrap  div {
	padding: 40px 30px;
  text-align: center;
}
.popup-wrap p {
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 30px;
  text-align: center;
}
.popup-wrap p:first-child {
  font-family: MIC, Sans-serif;
}
.popup-wrap .info {
  font-weight: 100;
  line-height: 1.5;
  
  font-size: .87em;
  margin: 30px 0 0 0;
}
.order-form p {
	margin-bottom: 10px;
}
.order-form label {
  display: inline-block;
  vertical-align: middle;
	
	width: 90px;
  text-align: left;
  
  font-weight: 100;
  font-size: .87em;
  text-transform: uppercase;
}
.order-form input[type="submit"] {
    border: none;
	  font-size: 1em;

    display: block;
  
    margin: 25px auto 0;
}
.order-form input[type="text"] {
	  width: 130px;
	
    display: inline-block;
    vertical-align: middle;
    
	  border: 1px solid #5B5B5B;
    border-radius: 4px;
    box-shadow: none;
    margin: 0;
    padding: 3px 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #646267;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #646267;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #646267;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #646267;
}
a.collapse {
  font-style: italic;
  font-weight: bold;
  color: #646267;
}
a.collapse:hover {
  font-style: italic;
  font-weight: bold;
  color: #6f1030;
}

.search-results {
  min-height: 380px;
}
.desc + .detailed-description {
  margin-top: -10px;
}