django>=1.4.3
psycopg2

south

django-pagination
django_compressor
python-memcached

PIL
sorl-thumbnail

gunicorn
dj-database-url


nose
webtest
django-webtest
django-coverage
django-nose
nose-exclude


django-extensions
django-debug-toolbar
werkzeug
ipython
ipdb

django-storages
boto
