{% extends "base.html" %} {% load i18n thumbnail %}

{% block subcategories %}
<div class="category">
  {% for category in categories %}
        <a href="{% url category-details category.slug %}">{{ category.name }}</a>
  {% endfor %}
</div>
{% endblock subcategories %}


{% block content %}

{% if not page.object_list %}
<div class="post">
   <article style="margin-left: 52px;"><p>К сожалению, по Вашему запросу ничего не найдено. Попробуйте задать другие параметры поиска.</p></article>
 </div>
{% else %}
<div class="catalogue cf search-results">
  {% for product in page.object_list %}
  		<a href="{% url book-details product.object.category.slug product.object.slug %}" class=""> 
              <figure>
                {% thumbnail product.object.catalogue_image "145x145" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                {% endthumbnail %}
                <figcaption><b>{{ product.object.author }}</b> <br>{{ product.object.name }}</figcaption>
              </figure>
  	   </a>
  {% endfor %}
</div>
{% endif %}

<hr>
{% include "subscribe.html" %}

{% endblock content %}
