{% extends "base.html" %}{% load i18n thumbnail staticfiles %}

{% block subcategories %}{% endblock subcategories %}

{% block extra_js %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=332821553495964";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="{% static "js/vendor/jquery.mousewheel-3.0.6.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-validate.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.expander.js" %}"></script>
{% endblock extra_js %}

{% block content %}
<div class="detail">
	<div class="detail-image">
	  <figure>
        {% thumbnail product.main_cover_image  "300" as im %}
           <img src="{{ im.url }}" alt="{{ product.name }}">
        {% endthumbnail %}
	  </figure>

	  <div class="detail-images">
      {% for image in product.productimage_set.all %}
        {% thumbnail image.image "32x32" crop="center" as im %}
            <a  rel="group" class="book-gallery" href="{{ image.image.url }}"><img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}"></a>
        {% endthumbnail %}
      {% endfor %}
	  </div>
    <div id="fb-root"></div>
    <br><br>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

   </div>
			   
   <article>
          <header class="title">
            {{ product.author }}<br>
            {{ product.name }}
          </header>
          <p id="book-details-content" class="desc">{{ product.description|linebreaksbr }}</p>
	  <ul class="detail-list">
		  {% if product.publisher %}<li>Издательство: {{ product.publisher.name }}</li>{% endif %}
		  {% if product.publish_year %}<li>Год издания: {{ product.publish_year }}</li>{% endif %}
      {% if product.binding %}<li>{{ product.binding }}</li>{% endif %}
		  {% if product.pages %}<li>страницы: {{ product.pages }}</li>{% endif %}
		  {% if product.width and product.height %}<li>размер: {{ product.width }}x{{ product.height }} {% if product.units %}{{ product.units }}{% endif %}</li>{% endif %}
		  {% if product.language %}<li>язык текста: {{ product.language.language }}</li>{% endif %}
	  </ul>
	  <p class="price">Цена: {{ product.price|floatformat:"-2" }} грн.</p>
	  <p class="waiting">{% if product.available and not product.anticipating %}есть в наличии{% elif product.anticipating %}ожидается{% endif %}</p>
	  <a href="javascript:;" data-load data-url="{% url book-order product.category.slug product.slug %}" class="btn-order" id="show-popup">{% if product.available and not product.anticipating %}купить{% elif product.anticipating %}заказать{% endif %}</a>
	  <div class="tags">
		  <header>{% trans "теги" %}:</header>
      {% for tag in product.tags.all %}
        <a href="#">{{ tag.name }}</a>
      {% endfor %}
	  </div>
       </article>
 </div>
 
 <hr>
{% include "subscribe.html" %}
 
 <div id="popup-order" class="popup-container">
 		    <div class="popup-overlay"></div>
 		    <div class="popup-wrap">
          
        </div>
 </div>
        
{% endblock content %}