{% load i18n %}
{% load thumbnail i18n staticfiles %}
<a href="javascript:;" class="fancybox-item fancybox-close" title="Close"></a>  
<div>
  <p>ПОЖАЛУЙСТА, ЗАПОЛНИТЕ ФОРМУ ЗАКАЗА</p>
  <form id="order-form" class="order-form" action="{% url book-order product.category.slug product.slug %}" method="post" accept-charset="utf-8">{% csrf_token %}
    <p><label for="id_full_name">ИМЯ</label>{{ form.full_name }}</p>
    <p><label for="id_email">E-MAIL</label>{{ form.email }}</p>
    <p><label for="id_email">Телефон</label>{{ form.phone }}</p>
  <p><input class="btn-order" type="submit" value="{% trans "Отправить заказ" %}"></p>
  </form>
	<p class="info">ЕСЛИ У ВАС ВОЗНИКЛИ ДОПОЛНИТЕЛЬНЫЕ ВОПРОСЫ, ЗВОНИТЕ 050 1457565</p>
  <script type="text/javascript" src="{% static "js/order.js" %}"></script>

</div>