{% extends "base.html" %}{% load i18n thumbnail %}

{% block subcategories %}{% endblock subcategories %}

{% block content %}
<div class="detail">
	<div class="detail-image">
	  <figure>
        <img src="{{ product.main_cover_image.url }}" alt="{{ product.name }}">
	  </figure>

	  <div class="detail-images">
      {% for image in product.productimage_set.all %}
        {% thumbnail image.image "32x32" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
        {% endthumbnail %}
      {% endfor %}
	  </div>
    <div id="fb-root"></div>
    <br><br>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

   </div>
			   
   <article>
          <header class="title">
            {{ product.name }}
          </header>
          <p class="desc">{{ product.description|linebreaksbr|truncatewords:"60" }}</p>
	  <ul class="detail-list">
		  {% if product.publisher %}<li>Издательство: {{ product.publisher.name }}</li>{% endif %}
		  {% if product.publish_year %}<li>Год издания: {{ product.publish_year }}</li>{% endif %}
      {% if product.binding %}<li>{{ product.binding }}</li>{% endif %}
		  {% if product.pages %}<li>страницы: {{ product.pages }}</li>{% endif %}
		  {% if product.width and product.height %}<li>размер: {{ product.width }}x{{ product.height }}</li>{% endif %}
		  {% if product.language %}<li>язык текста: {{ product.language.language }}</li>{% endif %}
	  </ul>
	  <p class="price">Цена: {{ product.price }} грн.</p>
	  <p class="waiting">{% if product.available and not product.anticipating %}есть в наличии{% elif product.anticipating %}ожидается{% endif %}</p>
	  <a href="#" class="btn-order" id="show-popup">{% if product.available and not product.anticipating %}купить{% elif product.anticipating %}заказать{% endif %}</a>
	  <div class="tags">
		  <header>{% trans "теги" %}:</header>
      {% for tag in product.tags.all %}
        <a href="#">{{ tag.name }}</a>
      {% endfor %}
	  </div>
       </article>
 </div>
 
 <hr>
 <form action="" method="get" class="subscribe">
 	<label for="subsribe">подписаться</label>
 	<input type="text" name="" value="" id="subsribe">
 </form>
{% endblock content %}

<form action="." method="post" accept-charset="utf-8">{% csrf_token %}
  {{ form.as_p }}

  <p><input type="submit" value="Continue &rarr;"></p>
</form>