{% extends "base.html" %}{% load i18n thumbnail staticfiles %}

{% block subcategories %}{% endblock subcategories %}

{% block extra_js %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=332821553495964";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="{% static "js/vendor/jquery.mousewheel-3.0.6.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-validate.js" %}"></script>

<script type="text/javascript" charset="utf-8">
$('document').ready(function(){
  $('img[data-cover]').fancybox({
    'autoHeight': true,
    'autoWidth': true,
    'padding': 0,
    'closeClick': true,
    'closeBtn': false,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'openEffect'  : 'elastic',
    'href': "{{ product.main_cover_image.url }}"
  });
  
});
</script>
{% endblock extra_js %}

{% block content %}
<div class="detail">
	<div class="detail-image">
	  <figure>
        {% thumbnail product.main_cover_image  "300" as im %}
           <img data-cover src="{{ im.url }}" alt="{{ product.name }}">
        {% endthumbnail %}
	  </figure>

	  <div class="detail-images cf">
      {% for image in product.productimage_set.all %}
        {% thumbnail image.image "39x39" crop="center" as im %}
            <a  rel="group" class="book-gallery" href="{{ image.image.url }}"><img src="{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}"></a>
        {% endthumbnail %}
      {% endfor %}
	  </div>
   </div>
			   
   <article>
          <header class="title">
            {% if product.author %}<b>{{ product.author }}</b><br>{% endif %}
            {{ product.name }}{% if product.additional_name_info %}<br>
            <span class="additional-title">{{ product.additional_name_info }}</span>{% endif %}
          </header>
          <p class="desc">{{ product.short_description|linebreaksbr }} {% if product.description %}<a href="javascript:;" data-description-show class="collapse"> подробнее</a> {% endif %}</p><p class="desc detailed-description">{{ product.description|linebreaksbr }}<a href="javascript:;" data-description-hide  class="collapse"> скрыть</a></p>
	  <ul class="detail-list">
		  {% if product.publisher %}<li>издатель: {{ product.publisher.name }}</li>{% endif %}
		  {% if product.publish_year %}<li>год издания: {{ product.publish_year }}</li>{% endif %}
      {% if product.binding_type %}<li>тип обложки: {{ product.binding_type }}</li>{% endif %}
		  {% if product.pages %}<li>количество страниц: {{ product.pages }}</li>{% endif %}
		  {% if product.width and product.height %}<li>размер книги: {{ product.width }} x {{ product.height }} {% if product.units %}{{ product.units }}{% endif %}</li>{% endif %}
		  {% if product.language %}<li>язык текста: {{ product.language.language }}</li>{% endif %}
	  </ul>
	  <p class="price">
      цена: <b {% if product.stock_price %}style="text-decoration: line-through"{% endif %}>{{ product.price|floatformat:"-2" }}  грн</b> {% if product.stock_price %}<b style="color: #6f1030">{{ product.stock_price|floatformat:"-2" }} грн</b>{% endif %}</p>
	  <p class="waiting">{% if product.available_status == 2 %}есть в наличии{% elif product.available_status == 1 %}ожидается поступление{% else %}нет в наличии{% endif %}</p>
	  <a href="javascript:;" data-load data-url="{% url book-order product.category.slug product.slug %}" class="btn-order" id="show-popup">{% if product.available_status == 2 %}купить{% else %}заказать{% endif %}</a>
	  <div class="tags">
      {# <header>{% trans "теги" %}:</header> #}
      {#       {% for tag in product.tags.all %} #}
      {#         <a href="{% url catalogue-by-tag tag.slug %}">{{ tag.name }}</a> #}
      {#       {% endfor %} #}
      <div id="fb-root"></div>
      <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
	  </div>
       </article>
 </div>
 
 <hr>
{% include "subscribe.html" %}
 
 <div id="popup-order" class="popup-container">
 		    <div class="popup-overlay"></div>
 		    <div class="popup-wrap">
          
        </div>
 </div>

        
{% endblock content %}