{% extends "base.html" %} {% load i18n thumbnail %}

{% block subcategories %}
<div class="category">
  {% for category in categories %}
        <a href="{% url category-details category.slug %}">{{ category.name }}</a>
  {% endfor %}
</div>
{% endblock subcategories %}


{% block content %}

<div class="catalogue cf">
  {% for product in products %}
  		<a href="{% url book-details product.category.slug product.slug %}" class=""> 
              <figure>
                {% thumbnail product.catalogue_image "145x145" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                {% endthumbnail %}
                <figcaption>{{ product.author }} <br>{{ product.name }}</figcaption>
              </figure>
  	   </a>
  {% endfor %}
</div>

 
<hr>
<form action="" method="get" class="subscribe">
	<label for="subsribe">подписаться</label>
	<input type="text" name="" value="" id="subsribe">
</form>

{% endblock content %}

