{% extends "base.html" %} {% load i18n thumbnail %}

{% block subcategories %}
<!--<div class="category">
  {% for cat in categories %}
        <a href="{% url category-details cat.slug %}" class="{% if cat.id == category.id%}active{% endif %}">{{ cat.name }}</a>
  {% endfor %}
</div>-->

<div class="category">
<table>
  <tr>
    {% for cat in categories %}
    <td>
          <a href="{% url category-details cat.slug %}" class="{% if cat.id == category.id%}active{% endif %}">{{ cat.name }}</a>
    </td>      
    {% endfor %}
  </tr>
</table>
</div>
{% endblock subcategories %}



{% block content %}

<div class="catalogue cf">
  {% for product in products %}
  		<a href="{% url book-details product.category.slug product.slug %}" class=""> 
              <figure>
                {% thumbnail product.catalogue_image "153x153" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                {% endthumbnail %}
                <figcaption>{% if product.author %}<b>{{ product.author }}</b><br>{% endif %}{{ product.catalogue_name|default:"" }}</figcaption>
              </figure>
  	   </a>
  {% endfor %}
</div>

<hr>
{% include "subscribe.html" %}

{% endblock content %}
