{% extends "base.html" %}
{% load thumbnail i18n staticfiles %}

{% block subcategories %}{% endblock subcategories %}

{% block content %}
	<div class="main-article banner">
		<ul class="homepage-slider">
      {% for post in  posts %}
            <li class="active" data-article="{{ forloop.counter }}" {% if not forloop.counter == 1 %}style="display:none"{% endif %}>
                {% thumbnail post.image "236x236" crop="center" as im %}
                    {% if post.show_url %}<a href="{{ post.get_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>{% else %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endif %}
                {% endthumbnail %}
			  <article>
          {% if post.pre_title_section %}
            <div class="pre-title-section" style="text-transform: uppercase; font-size: 13px">
              {{ post.pre_title_section }}
            </div>
          {% endif %}
          {% if post.title %}
            <div class="title-section" style="font-size: 26px; line-height: 25px;{% if post.pre_title_section %}padding: 2px;{% endif %}">
              {{ post.title }}
            </div>
          {% endif %}
          {% if post.author_section %}
          <div class="author-section" style="font-size: 18px;">
            {{ post.author_section }}
          </div>
          {% endif %}
          {% if post.post_author_section  %}
          <div class="post-autor-section">
            <em style="font-size: 12px;">{{ post.post_author_section }}</em>
          </div>
          {% endif %}
                  <p style="padding-top: 8px; line-height: 1.4">{{ post.banner_content|safe }} {% if post.show_url %}<a class="more" href="{{ post.get_url }}">подробнее</a>{% endif %}</p>
                </article>
            </li>
    {% endfor %}
          </ul>

		<nav class="bullets">
      {% for post in posts %}
		      <a href="javascript:;" class="{% if forloop.first %}active{% endif %}" data-article="{{ forloop.counter }}"></a>
      {% endfor %}
	   </nav>

   </div>
   
   <div class='index-recommend'>
     PhotoArtBook рекомендует
   </div>
            
	<hr>
			
        <div class="catalogue cf" style="margin-top: 31px;">
          {% for product in products %}
          		<a href="{% url book-details product.category.slug product.slug %}" class=""> 
                      <figure>
                        {% thumbnail product.catalogue_image "155x155" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                        {% endthumbnail %}
                        <figcaption>{% if product.author %}<b>{{ product.author }}</b><br>{% endif %}{{ product.catalogue_name|default:"" }}</figcaption>
                      </figure>
          	   </a>
          {% endfor %}
        </div>
			
	<hr>
  {% include "subscribe.html" %}
      </div>
    </div>

{% endblock content %}
