{% extends "base.html" %}
{% load thumbnail i18n staticfiles %}

{% block subcategories %}{% endblock subcategories %}

{% block content %}
	<div class="main-article banner">
		<ul class="homepage-slider">
      {% for post in  posts %}
            <li class="active" data-article="{{ forloop.counter }}" {% if not forloop.counter == 1 %}style="display:none"{% endif %}>
                {% thumbnail post.image "242x237" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
			  <article>
                  <p>{{ post.banner_content|safe }} {% if post.show_url %}<a class="more" href="{{ post.get_url }}">подробнее</a>{% endif %}</p>
                </article>
            </li>
    {% endfor %}
          </ul>

		<nav class="bullets">
      {% for post in posts %}
		      <a href="javascript:;" class="{% if forloop.first %}active{% endif %}" data-article="{{ forloop.counter }}"></a>
      {% endfor %}
	   </nav>

   </div>
   
   <div class='index-recommend'>
     Photoartbook рекомендует
   </div>
            
	<hr>
			
        <div class="catalogue cf">
          {% for product in products %}
          		<a href="{% url book-details product.category.slug product.slug %}" class=""> 
                      <figure>
                        {% thumbnail product.catalogue_image "155x155" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                        {% endthumbnail %}
                        <figcaption>{% if product.author %}<b>{{ product.author }}</b><br>{% endif %}{{ product.catalogue_name|default:"" }}</figcaption>
                      </figure>
          	   </a>
          {% endfor %}
        </div>
			
	<hr>
  {% include "subscribe.html" %}
      </div>
    </div>

{% endblock content %}