{% extends "base.html" %}
{% load i18n thumbnail %}

{% block subcategories %}{% endblock subcategories %}

{% block content %}
<div class="post">
      <img src="{{ post.image.url }}">
      
   <article>
          <header>
            {{ post.title }}
          </header>
          <p>{{ post.content|linebreaksbr }}</p>
       </article>
 </div>
 
 <hr>
 <form action="" method="get" class="subscribe">
 	<label for="subsribe">{% trans "подписаться" %}</label>
 	<input type="text" name="" value="" id="subsribe">
 </form>
{% endblock content %}