{% extends "base.html" %}
{% load thumbnail %}

{% block subcategories %}{% endblock subcategories %}

{% block content %}
<div class="post">
  {{ settings }}
  {% if request.path == '/about/' %}
    {% thumbnail about_us_image "x430" crop="center" as im %}
      <img src="{{ im.url }}">
  {% endthumbnail %}
  {% endif %}
   <article {% if request.path == '/contacts/' %}style="margin-left: 52px;"{% endif %}>
          <p {% if request.path == '/about/' %}style="margin: -5px 0 0 0;"{% endif %}>{{ flatpage.content|linebreaksbr }}</p>
       </article>
 </div>
 
 <hr>
{% include "subscribe.html" %}
{% endblock content %}